@{
    ViewData["Title"] = "Weather Forecast";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-center">Today's weather</h2>

            <form asp-controller="Weather" asp-action="GetWeather" method="post" class="needs-validation" novalidate>
                <div class="mb-3 has-validation">
                    <label for="city" class="form-label">City name</label>
                    <input type="text" class="form-control" id="city" name="city" aria-describedby="cityHelp" required>
                    <div id="cityHelp" class="form-text mb-0">Enter the name a city to receive daily forecast.</div>
                    <div class="invalid-feedback mt-0">
                        Please enter the name of the city.
                    </div>
                </div>
                <div class="row g-2">
                    @if (TempData["LastCity"] != null)
                    {
                        <div class="col-6">
                            <a asp-controller="Weather" asp-action="GetLastWeather" class="btn btn-secondary w-100">Get weather forecast for @TempData["LastCity"]</a>
                        </div>
                    }
                    
                    <div class="col-6">
                        <button class="btn btn-primary w-100" type="submit">Get weather forecast</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>